* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    background-color: #454545;
    padding: 30px;
    border: 3px solid #ff7a00;
}

.post-header {
    margin-bottom: 20px;
}

.category {
    font-size: 12px;
    font-weight: bold;
    color: #ffb347;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.post-header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.meta {
    font-size: 14px;
    color: #bbbbbb;
}

.featured-image {
    width: 100%;
    margin: 20px 0;
}

.content img {
    width: 100%;
    margin: 20px 0;
}


.content p {
    margin-bottom: 18px;
    line-height: 1.6;
    font-size: 16px;
}