* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.card1 {
  background: linear-gradient(135deg, #f21010, #ee4c1f);
  border: 1px solid #000000;
  border-radius: 25px; 
  padding: 30px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.card2 {
  background: linear-gradient(135deg, #067e02, #7dff60);
  border: 1px solid #000000;
  border-radius: 25px; 
  padding: 30px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card3 {
  background: linear-gradient(135deg, #ffef62, #f841d7);
  border: 1px solid #000000;
  border-radius: 25px; 
  padding: 30px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.image-circle {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 20px auto;
  overflow: hidden; 
  border: 2px solid #5f4e4e;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.button {
  background: rgb(255, 255, 255);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 15px;
}
