* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.container {
    max-width: 600px;      
    margin-left: auto;     
    margin-right: auto;   
    padding: 60px 20px;
    text-align: center;    
}

.main-heading, .section-heading, .brand-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
h1,.section-heading {
    font-family: 'Imperial Script', cursive;
    font-size: 100px; 
}
h2 {
    font-family: 'Ultra', serif;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 1px;
}
.main-heading { font-size: 3rem; margin: 20px 0; }
.section-heading { font-size: 2rem; margin-bottom: 20px; }

.yellow-section { background-color: #ffdd03; color: #fcedbc; }
.blue-section { background-color: #0118e5; color: #8181f2; }
.red-section { background-color: #e20101; color: #f18d8d; }

.product-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.product-img.small {
    width: 400px;
}

.cta-button {
    display: inline-block;
    background-color: #ff9409;
    color: #ffea04;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 25px;
}

.cta-button:hover {
    transform: scale(1.1);
}
